{{#if isPermitted}}
<div style="max-width: 1100px; " id="abcdefgh">
    <div style="display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(81, 81, 81, 0.7);
    margin-bottom: 15px;">
        {{#with category}}
        <a href="/category?categoryId={{id}}" style="    
            margin: 0;
            padding: 0;
            font-size: 100%;
            vertical-align: baseline;
            background: transparent;
            text-decoration: none;
            color: #888;
            cursor: pointer;
            font-size: 16px;">{{name}}</a>
        {{/with}}
        <i class="bi bi-chevron-right" style="font-size: 14px; margin: 0px 5px;"></i>
        {{#with subCategory}}
        <a href="/subCategory?subCategoryId={{id}}" style="    
            margin: 0;
            padding: 0;
            font-size: 100%;
            vertical-align: baseline;
            background: transparent;
            text-decoration: none;
            color: #888;
            cursor: pointer;
            font-size: 16px;">{{name}}</a>
        {{/with}}
    </div>
    <div class="tag" style="font-family: serif; display: flex; flex-wrap: wrap;">
        {{#each detailTags}}
        <a href="/tag?tagId={{id}}" style="display: block; white-space: nowrap;">
            <span class="tag__item" style="margin-left: 0; margin-right: 20px">{{name}}</span>
        </a>
        {{/each}}
    </div>
    {{#with article}}
    <div class="container__new">
        <h4 style="font-size: 30px;">{{name}}
        </h4>
        <div class="author__time">
            <p class="author">{{author}}</p>
            <p class="time">{{approve}}</p>
            <div class="like__comment">
                {{!-- <div class="like">
                    <button><i class="fa-solid fa-thumbs-up"></i></button>
                    <p>6</p>
                </div> --}}
                <div class="comment">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#myModal"><i
                            class="fa-solid fa-comment fa-xl"></i>   {{nComments}}</button>

                    {{#with premium}}
                    <button onclick="generatePDF('{{role}}')" type="button"><i
                            class="fa-solid fa-print fa-xl" style="margin-left: 10px;"></i>   Tải về</button>
                    {{/with}}

                    <div class="modal" id="myModal" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" style="font-size: 20px; text-color: red;">Bình luận</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body modal--content" id="comment">
                                    {{#each Comments}}
                                    <div class="card__comment">
                                        <div class="personal__img">
                                            <img
                                                src="../public/assets/images/default.jpg"></img>
                                        </div>
                                        <div class="card-body--comment"
                                            style="box-sizing: border-box; margin-left: 10px;">
                                            <p style="font-weight: bold; font-size: 15px;">{{User.name}}</p>
                                            <p class="comment__content" style="font-size: 15px;">{{content}}
                                            </p>
                                            <div class="like__comment">
                                                {{!-- <div class="like">
                                                    <button><i class="fa-solid fa-thumbs-up"></i></button>
                                                    <p>6</p>
                                                </div> --}}
                                                {{!-- {{#if User.matched}} --}}
                                                <div class="comment">
                                                    <button onclick="deleteComment({{User.id}}, {{articleId}})"><i
                                                            class="fa-solid fa-wrench"></i></button>
                                                    <p>Xóa</p>
                                                </div>
                                                {{!-- {{/if}} --}}
                                                <div class="like__comment--time">
                                                    <p>{{createdAt}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                                <div style="display: flex;">
                                    {{#with commentInfo}}
                                    <div class="header__search-bar">
                                        <input id="post" type="search" class="header__search-input"
                                            placeholder="Viết bình luận..." />
                                    </div>
                                    <button
                                        onclick="makeComment({{this.userInfo.id}}, document.getElementById('post').value, {{this.articleId}})"
                                        style="font-size: 20px;">Summit</button>
                                    {{/with}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="new" style="font-size: 14px; margin-top: 10px">
            <div style="display: flex; flex-direction: column; margin: 8px 0">
                <img src="{{imgCover}}" alt="background">
                <span style=" font-size: 20px; font-weight: 500;">{{description}}</span>
            </div>
            {{{content}}}
        </div>
    </div>
    <p style="display: none" id="idofarticle">{{id}}</p>
    <p style="display: none" id="idofarticle">{{id}}</p>
    {{/with}}
    {{#with userInfo}}
    <p style="display: none" id="idofuser">{{id}}</p>
    {{/with}}
    <div class="related__news">
        <div class="popular__week__news">
            <h4>Các bài viết cùng chuyên mục</h4>
            <hr />
            <div id="carousel__popular__week__news" class="carousel carousel-dark slide" data-bs-ride="false">
                <div class="carousel-inner">
                    {{#each viewArticlesSame}}
                    {{#each _main_item}}
                    <div class="carousel-item active">
                        <div class="card-group">
                            {{#each _item}}
                            <div class="card card__popular__news--extend">
                                <a href="/article?articleId={{id}}"
                                    style="display: block; width: 100%; height: 250px; min-height: 250px; margin-bottom: 5px;">
                                    <img src="{{imgCover}}" class="card-img-top" alt="..."
                                        style="width: 100%; max-height: 250px;" />
                                </a>
                                <div class="card-body">
                                    <div style="display: flex;
    justify-content: space-between;">
                                        {{#each SubCategories}}
                                        <a style="cursor: pointer; display: block;"
                                            href="/subCategory?subCategoryId={{id}}"><span style="padding: 5px;
                                    width: 70px;
                                    text-align: center;
                                    border-radius: 20px;
                                    background: var(--primary-color);
                                    border: none;
                                    font-size: 13px;
                                    font-weight: 400;
                                    color: white;
                                    line-height: 100%;">{{name}}</span></a>

                                        {{/each}}

                                        {{#if premium}}
                                        <img style="height: 25%; width: 25%; margin-bottom: 10px; margin-left: 10px;"
                                            src="https://static.vnncdn.net/v1/logo/logo-premium.svg">

                                        {{/if}}

                                    </div>

                                    <p style="padding: 10px 0 0 0px;" class="card-text"><small class="text-muted">
                                            {{#formatDate approve}} {{/formatDate}}</small></p>
                                    <a style="cursor: pointer; display: block;" href="/article?articleId={{id}}">
                                        <h5 class="card-title" style="font-size: 1.4rem;
                                font-weight: 400;
                                color: var(--text-color);
                                line-height: 1.6rem;
                                height: 4.2rem;
                                overflow: hidden;
                                display: block;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 3;">{{name}}</h5>
                                    </a>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    {{/each}}
                    {{#each _items}}
                    <div class="carousel-item">
                        <div class="card-group">
                            {{#each _item}}
                            <div class="card card__popular__news--extend">
                                <a href="/article?articleId={{id}}"
                                    style="display: block; width: 100%; height: 250px; min-height: 250px; margin-bottom: 5px;">
                                    <img src="{{imgCover}}" class="card-img-top" alt="..."
                                        style="width: 100%; max-height: 250px;" />
                                </a>
                                <div class="card-body">
                                    <div style="display: flex;
    justify-content: space-between;">
                                        {{#each SubCategories}}
                                        <a style="cursor: pointer; display: block;"
                                            href="/subCategory?subCategoryId={{id}}"><span style="padding: 5px;
                                    width: 70px;
                                    text-align: center;
                                    border-radius: 20px;
                                    background: var(--primary-color);
                                    border: none;
                                    font-size: 13px;
                                    font-weight: 400;
                                    color: white;
                                    line-height: 100%;">{{name}}</span></a>

                                        {{/each}}

                                        {{#if premium}}
                                        <img style="height: 25%; width: 25%; margin-bottom: 10px; margin-left: 10px;"
                                            src="https://static.vnncdn.net/v1/logo/logo-premium.svg">

                                        {{/if}}

                                    </div>
                                    <p style="padding: 10px 0 0 0px;" class="card-text"><small class="text-muted">
                                            {{#formatDate approve}}{{/formatDate}}</small></p>
                                    <a style="cursor: pointer; display: block;" href="/article?articleId={{id}}">
                                        <h5 class="card-title" style="font-size: 1.4rem;
                                font-weight: 400;
                                color: var(--text-color);
                                line-height: 1.6rem;
                                height: 4.2rem;
                                overflow: hidden;
                                display: block;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 3;">{{name}}</h5>
                                    </a>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    {{/each}}
                    {{/each}}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel__popular__week__news"
                    data-bs-slide="prev" style="width: 30px; height: 30px px; border-radius: 50%;">
                    <span class="carousel-control-prev-icon" aria-hidden="true"
                        style="width: 30px; height: 30px px;  border-radius: 50%;"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel__popular__week__news"
                    data-bs-slide="next" style="width: 30px; height: 30px px; border-radius: 50%;">
                    <span class="carousel-control-next-icon" aria-hidden="true"
                        style="width: 30px; height: 30px px;  border-radius: 50%;"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
{{else}}
<div class="text-center">
    <h3>You don't have permission to access this article!</h3>
</div>
{{/if}}
<script>
    function generatePDF(userRole) {
        if (userRole == 'premium') {
            const element = document.getElementById('content');
            html2pdf().from(element).save();
        }
        else {
            alert("Your acount is not premium! Please purchase to use this advance feature.")
        }
    }

    async function makeComment(userId, comment, articleId) {
        let res = await fetch('/comment', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            body: JSON.stringify({ userId, comment, articleId })
        });

        let json = await res.json();

        if (json.message == 'success') {
            document.getElementById('post').value = "";
            document.getElementById('comment').innerHTML +=
                `<div class="card__comment">
                <div class="personal__img">
                    <img src="../public/assets/images/default.jpg"></img>
                </div>
                <div class="card-body--comment" style="box-sizing: border-box; margin-left: 10px;"> 
                    <p style="font-weight: bold; font-size: 15px;"> ${json.userName} </p>
                    <p class="comment__content" style="font-size: 15px;"> ${json.data.content} 
                    </p>
                    <div class="like__comment">
                        <div class="comment">
                            <button onclick="deleteComment(${json.data.userId},${json.data.articleId})"><i class="fa-solid fa-wrench"></i></button>
                            <p>Xóa</p>
                        </div>
                        <div class="like__comment--time">
                            <p>${json.data.createdAt}</p>
                        </div>
                    </div>
                </div>
            </div>`;
        }
    }

    async function deleteComment(userId, articleId) {
        let res = await fetch('/comment', {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            body: JSON.stringify({ userId, articleId })
        });

        let json = await res.json();

        if (json.message == 'deleted') {
            let comment = document.getElementById('comment');
            comment.innerHTML = "";
            for (let index = 0; index < json.data.length; index++) {
                const item = json.data[index];
                comment.innerHTML +=
                    `<div class="card__comment">
                    <div class="personal__img">
                        <img src="../public/assets/images/default.jpg"></img>
                    </div>
                    <div class="card-body--comment" style="box-sizing: border-box; margin-left: 10px;"> 
                        <p style="font-weight: bold; font-size: 15px;"> ${item.User.name} </p>
                        <p class="comment__content" style="font-size: 15px;"> ${item.content} 
                        </p>
         
                        <div class="like__comment">
                            <div class="comment">
                                <button onclick="deleteComment(${item.User.id}}, ${item.articleId})"><i class="fa-solid fa-wrench"></i></button>
                                <p>Xóa</p>
                            </div>
                            <div class="like__comment--time">
                                <p>${item.createdAt}</p>
                            </div>
                        </div>
                    </div>
                </div>`;
            }
        }
        console.log("delete");

    }
</script>

{{!-- Xử lý cơ chế người dùng đọc bài viết chưa --}}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var isRead = false;

    $(document).ready(function () {
        var articleElement = $('#abcdefgh');
        var articleHeight = articleElement.outerHeight();
        var windowHeight = $(window).height();

        window.addEventListener('scroll', function () {
            var scrollTop = $(this).scrollTop();
            var scrollBottom = scrollTop + windowHeight;

            if (scrollBottom >= articleHeight * 0.9 && isRead == false) {
                isRead = true
                var userId = parseInt(document.getElementById("idofuser").innerHTML);
                var articleId = parseInt(document.getElementById("idofarticle").innerHTML);
                var currentURL = window.location.origin
                var api = `${currentURL}/userread`

                // Thực hiện các hành động liên quan đến việc người dùng đã đọc xong bài viết ở đây
                fetch(api, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json' // Định dạng dữ liệu là JSON
                    },
                    body: JSON.stringify({ // Dữ liệu gửi đi
                        articleId: articleId,
                        userId: userId
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Phương thức POST đã được thực hiện thành công.');
                        // Xử lý kết quả trả về
                    })
                    .catch(error => {
                        console.error('Đã xảy ra lỗi trong quá trình thực hiện phương thức POST:', error);
                    });
            }
        });
    });
</script>
<script>
    var carousel = document.getElementById('carousel__popular__week__news');
    function autoSlide1() {
        carousel.querySelector('.carousel-control-next').click();
    }
    setInterval(autoSlide1, 3000);
</script>