{{#if done}}
  <div class="section-header">
    <h3>Reset Password</h3>
    <p class="py-3 alert alert-success">
      Your password has been updated. You can now
      <a href="/users/login">Login</a>
      using your new password
    </p>
  </div>
{{else}}
  {{#if expired}}
    <div class="section-header">
      <h3>Reset Password</h3>
      <p class="py-3 alert alert-warning">
        Your link is expired!
      </p>
    </div>
  {{else}}
    <div class="form__container">
      <span class="form__name">Đặt lại mật khẩu</span>
      <form action="/users/reset" method="post" id="formReset">
        <div class="form__input-box">
          <input
            type="password"
            class="form__input"
            placeholder="Mật khẩu"
            name="password"
            required
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            onchange="checkPasswordConfirm('formReset')"
          />
        </div>
        <div class="form__input-box">
          <input
            type="password"
            class="form__input"
            placeholder="Xác nhận mật khẩu"
            name="confirmPassword"
            required
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            onkeyup="checkPasswordConfirm('formReset')"
          />
        </div>
        <input type="hidden" name="email" value="{{email}}" />
        <input type="hidden" name="token" value="{{token}}" />
        <button type="submit" class="form__btn" id="btn_login">Đặt lại mật khẩu</button>
      </form>
      {{#if message}}
        <div class="col md-12">
          <div class="p-3 mt-3 alert alert-warning">
            {{{message}}}
          </div>
        </div>
      {{/if}}

    </div>
  {{/if}}
{{/if}}