<main class="main_function">
  <div class="container-fluid main">
    <div class="row">
      <form id="form1" action="/writer/compose" method="post" style="margin: 0;"></form>
      <div class="col-9 maincol">
        <button class="button_back" onclick="history.back()"><i class="bi bi-arrow-left"
            style="font-size: 25px;"></i></button>
        <h3 class="body__title"> Soạn thảo bài viết</h3><br />

        <label for="input_title">Tiêu đề</label><br />
        <input type="text" id="input_title" style="padding: 5px;width: 100%;" name="name" form="form1"><br />

        <label for="input_summary">Tóm tắt</label><br />
        <textarea id="input_summary" cols="150" rows="3" style="padding: 5px;width: 100%;" name="description"
          form="form1"></textarea><br />

        <label for="editor">Nội dung</label>
        <textarea form="form1" name="content" id="editor"></textarea>

      </div>

      <div class="col-3 sidecol">
        <label for="input_post_avatar">Ảnh đại diện bài viết</label>
        <input form="form1" id="input_post_avatar" type="file" accept="image/*" />

        <input form="form1" id="input_post_avatar_link" type="text" hidden value="https://i.imgur.com/CFc1day.jpg" name="imgCover" />
        <!-- <img id="blah" src="#" alt="your image" /> -->

        <label for="input_cat1">Chuyên mục cấp 1</label><br />
        <select form="form1" class="category_l1" id="input_cat1" name="category">
          {{#each cat1}}
          <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select><br />

        <label for="input_cat2">Chuyên mục cấp 2</label><br />
        <select form="form1" class="category_l2" id="input_cat2" name="subcategory">
          {{#each cat2}}
          <option value="{{id}}" category="{{categoryId}}" class="cat2">{{name}}</option>
          {{/each}}
        </select><br />

        <label for="input_tags">Danh sách nhãn</label>

        <label id="input_tags" style="font-size: 1rem; margin: 0;">
          <input form="form1" mbsc-input id="demo-multiple-select-input" placeholder="Please select..." data-dropdown="true"
            data-input-style="outline" data-label-style="stacked" data-tags="true" name="tags" />
        </label>
        <select form="form1" id="demo-multiple-select" multiple>
          {{#each tags}}
          <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select>
        <div class="submit-buttons__container">
          <button form="form1" type="submit" id="save-button" name="status" value="pending">Đăng bài viết</button>
          <button form="form1" type="submit" id="cancel-button" name="status" value="draft">Lưu bản thảo</button>
        </div>

      </div>
      </form>
    </div>
  </div>
</main>

<script src="/js/writer_compose.js"></script>
