<main class="main_function">
    <div class="container-fluid main" >
        <div class="row">
            <form id="form1" action="/writer/edit" method="post" style="margin: 0;"></form>
            <div class="col-9 maincol">
                {{#with article}}
                <button class="button_back" onclick="history.back()"><i class="bi bi-arrow-left"
                        style="font-size: 25px;"></i></button>
                <h3 class="body__title"> Hiệu chỉnh bài viết</h3><br />
                <input type="hidden" id="input_id" name="id" form="form1">

                <label for="input_title">Tiêu đề</label><br />
                <input type="text" id="input_title" value="{{name}}" style="padding: 5px;width: 100%;" name="name"
                    form="form1"><br />

                <label for="input_summary">Tóm tắt</label><br />
                <textarea id="input_summary" cols="150" rows="3" style="padding: 5px;width: 100%;" name="description"
                    form="form1">{{description}}</textarea><br />

                <label for="editor">Nội dung</label>
                <textarea form="form1" name="content" id="editor">{{content}}</textarea>
                {{/with}}
            </div>

            <div class="col-3 sidecol">
                {{#with article}}
                <label for="input_post_avatar">Ảnh đại diện bài viết</label>
                <input id="input_post_avatar" type="file" accept="image/*" />
                Ảnh hiện tại: <a href="{{imgCover}}">Link</a><br />
                <input form="form1" id="input_post_avatar_link" type="text" hidden value="{{imgCover}}"
                    name="imgCover" />
                <img id="blah" src="{{imgCover}}" alt="your image" style="width: 100%;"/>
                

                <label for="input_cat1">Chuyên mục cấp 1</label><br />

                <select class="category_l1" id="input_cat1" form="form1" name="category">                
                    {{#each ../cat1}}                    
                    <option value="{{id}}" {{select id ../SubCategories.categoryId "selected"}}>{{name}}</option>
                    {{/each}}
                </select><br />
                

                <label for="input_cat2">Chuyên mục cấp 2</label><br />
                <select class="category_l2" id="input_cat2" form="form1" name="subcategory" value="{{SubCategories.id}}">
                    {{#each ../cat2}}
                    <option value="{{id}}" category="{{categoryId}}" class="cat2" {{select id ../SubCategories.id "selected"}}>{{name}}</option>
                    {{/each}}
                </select><br />
                

                <label for="input_tags">Danh sách nhãn</label>

                <label id="input_tags" style="font-size: 1rem; margin: 0;">
                    <input mbsc-input id="demo-multiple-select-input" placeholder="Please re-select..."
                        data-dropdown="true" data-input-style="outline" data-label-style="stacked" data-tags="true" form="form1" name="tags"/>
                </label>
                <select id="demo-multiple-select" multiple>
                    {{#each ../tags}}
                    <option value="{{id}}" {{select id ../Tags.id "selected"}}>{{name}}</option>
                    {{/each}}
                </select>
                {{/with}}

                <div class="submit-buttons__container">
                    <button form="form1" type="submit" id="save-button" name="status" value="draft">Lưu chỉnh sửa</button>
                    <button id="cancel-button" onClick="window.location.reload();">Hủy chỉnh sửa</button>
                    <button form="form1" type="submit" id="post-button" name="status" value="pending">Đăng bài viết</button>
                </div>

            </div>
            </form>
        </div>
    </div>
</main>


<script src="/js/writer_edit.js"></script>
